/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

body {
  background-color: radial-gradient(
    circle,
    rgba(79, 79, 79, 1) 1%,
    rgba(24, 25, 25, 1) 100%
  );
  color: #fff;
}

.spinner {
  animation: spin 20s linear infinite;
}
